/* General styles for widgets */
.weekly-expenses-widget {
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.week-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.week-range {
  font-weight: bold;
  color: #333;
  text-wrap: nowrap;
  padding: 10px 15px;
}

.nav-button {
  background-color: grey;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-button:hover {
  background-color: black;
}

.expense-item {
  margin-bottom: 15px;
}

/* Row class for alignment */
.row {
  display: flex;
  justify-content: space-between; /* Push label to the left and value to the right */
  align-items: center;
  flex-direction: row; /* Keep horizontal layout */
  text-align: left;
  width: 100%;
}

.row h4, .row p {
  margin: 0;
}

.row h4 {
  flex: 1; /* Label on the left */
}

.row p {
  flex: 1; /* Value on the right */
  text-align: right; /* Align value to the right */
}

.widget-header {
  position: sticky;
  background-color: #f9f9f9;
  top: 0;
  z-index: 10;
  padding: 10px;
}

/* Responsive styles for mobile */
@media (max-width: 768px) {
  .weekly-expenses-widget {
    margin-bottom: 20px;
  }

  .row {
    flex-direction: row; /* Keep label and value on the same line */
    align-items: center;
    justify-content: space-between;
  }

  .nav-button {
    width: 100%;
    margin-bottom: 10px;
  }

  .widget-header {
    padding: 5px;
    font-size: 0.8rem;
  }

  .widget {
    max-height: 50vh;
    overflow-y: scroll;
  }

  .widget, .widget h2, .widget h3, .widget h4, .widget p {
    text-align: left;
  }
}
